<suite name="Test Suite">
	<test name="Test Case">
		<packages>
		    <package name="com.ui.test.tests" />
		</packages>
	</test>	
</suite>


<suite name="Test Suite">
	<test name="Test Case">
		<classes>
		    <class name="com.ui.test.tests.LoginPageTest" />
		</classes>
	</test>	
</suite>